# Ignore all data folders
data19/
data20/
data21/
data22/
data23/
data_combined/
attempt_1/recipes/
attempt_1/results/
attempt_2/recipes/
attempt_2/results/
attempt_3/recipes/
attempt_3/results/
attempt_4/recipes/
attempt_4/results/
attempt_5/recipes/
attempt_5/results/

# Exclude all .Rproj files (optional)
*.Rproj

# Ignore system files
.DS_Store

# Ignore screenshots
*.png

.Rproj.user
